@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-regular: theme('colors.green.500');
  --primary-color-dark: theme('colors.green.700');
  --primary-color-light: theme('colors.green.300');

  --secondary-color-regular: theme('colors.stone.500');
  --secondary-color-dark: theme('colors.stone.700');
  --secondary-color-light: theme('colors.stone.300');

  --tertiary-color-regular: theme('colors.amber.500');
  --tertiary-color-dark: theme('colors.amber.700');
  --tertiary-color-light: theme('colors.amber.300');

  --white-color : theme('colors.zinc.100');
  --black-color : theme('colors.zinc.900');


  /* font sizes */
  --h1-font-size: clamp(2.986rem, 6.5vw, 5.61rem);
  --h2-font-size: clamp(2.488rem, 5.25vw, 4.209rem);
  --h3-font-size: clamp(2.074rem, 3.95vw, 3.157rem);
  --h4-font-size: clamp(1.728rem, 3vw, 2.369rem);
  --h5-font-size: clamp(1.44rem, 2.3vw, 1.777rem);
  --h6-font-size: clamp(1.2rem, 1.7vw, 1.333rem);
  --body-font-size: 1rem;
  --caption-font-size: 0.833rem;
  --tiny-font-size: 0.694rem;
  /* --caption-font-size: clamp(0.75rem, 10vw, 0.833rem);
  --tiny-font-size: clamp(0.563rem, 10vw, 0.694rem); */

}

@media (prefers-color-scheme: dark) {
  :root {
  }

  
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-tiny{
    font-size: var(--tiny-font-size);
  }

  .text-caption{
    font-size: var(--caption-font-size);
  }

  .text-body{
    font-size: var(--body-font-size);
  }

  .text-h6{
    font-size: var(--h6-font-size);
  }

  .text-h5{
    font-size: var(--h5-font-size);
  }

  .text-h4{
    font-size: var(--h4-font-size);
  }

  .text-h3{
    font-size: var(--h3-font-size);
  }

  .text-h2{
    font-size: var(--h2-font-size);
  }
  
  .text-h1{
    font-size: var(--h1-font-size);
  }

  /* background colors */
  .bg-primary-color-regular{
    background-color: var(--primary-color-regular);
  }

  .bg-primary-color-dark{
    background-color: var(--primary-color-dark);
  }

  .bg-primary-color-light{
    background-color: var(--primary-color-light);
  }

  .bg-secondary-color-regular{
    background-color: var(--secondary-color-regular);
  }

  .bg-secondary-color-dark{
    background-color: var(--secondary-color-dark);
  }

  .bg-secondary-color-light{
    background-color: var(--secondary-color-light);
  }

  .bg-tertiary-color-regular{
    background-color: var(--tertiary-color-regular);
  }

  .bg-tertiary-color-dark{
    background-color: var(--tertiary-color-dark);
  }

  .bg-tertiary-color-light{
    background-color: var(--tertiary-color-light);
  }

  .bg-white-color{
    background-color: var(--white-color);
  }

  .bg-black-color{
    background-color: var(--black-color);
  }

  /* border colors */

  .border-primary-regular{
    border-color: var(--primary-color-regular);
  }

  .border-primary-dark{
    border-color: var(--primary-color-dark);
  }

  .border-primary-light{
    border-color: var(--primary-color-light);
  }

  .border-secondary-regular{
    border-color: var(--secondary-color-regular);
  }

  .border-secondary-dark{
    border-color: var(--secondary-color-dark);
  }

  .border-secondary-light{
    border-color: var(--secondary-color-light);
  }

  .border-tertiary-regular{
    border-color: var(--tertiary-color-regular);
  }

  .border-tertiary-dark{
    border-color: var(--tertiary-color-dark);
  }

  .border-tertiary-light{
    border-color: var(--tertiary-color-light);
  }

  .border-white{
    border-color: var(--white-color);
  }

  .border-black{
    border-color: var(--black-color);
  }

  /* text colors */

  .text-primary-regular{
    color: var(--primary-color-regular);
  }

  .text-primary-dark{
    color: var(--primary-color-dark);
  }

  .text-primary-light{  
    color: var(--primary-color-light);
  }

  .text-secondary-regular{
    color: var(--secondary-color-regular);
  }

  .text-secondary-dark{
    color: var(--secondary-color-dark);
  }

  .text-secondary-light{
    color: var(--secondary-color-light);
  }

  .text-tertiary-regular{
    color: var(--tertiary-color-regular);
  }

  .text-tertiary-dark{
    color: var(--tertiary-color-dark);
  }

  .text-tertiary-light{
    color: var(--tertiary-color-light);
  }

  .text-white{
    color: var(--white-color);
  }

  .text-black{
    color: var(--black-color);
  }


}
