@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-regular: theme('colors.green.500');
  --primary-color-dark: theme('colors.green.700');
  --primary-color-light: theme('colors.green.300');

  --secondary-color-regular: theme('colors.stone.500');
  --secondary-color-dark: theme('colors.stone.700');
  --secondary-color-light: theme('colors.stone.300');

  --tertiary-color-regular: theme('colors.amber.500');
  --tertiary-color-dark: theme('colors.amber.700');
  --tertiary-color-light: theme('colors.amber.300');

  --white-color : theme('colors.zinc.50');
  --black-color : theme('colors.zinc.900');


  /* font sizes */
  /* --h1-font-size: clamp(3.2rem, 6.5vw, 5.61rem); */
  --h1-font-size: clamp(3.2rem, 13.5vw, 8rem);
  --h2-font-size: clamp(2.488rem, 5.25vw, 4.209rem);
  --h3-font-size: clamp(2.074rem, 3.95vw, 3.157rem);
  --h4-font-size: clamp(1.728rem, 3vw, 2.369rem);
  --h5-font-size: clamp(1.44rem, 2.3vw, 1.777rem);
  --h6-font-size: clamp(1.2rem, 1.7vw, 1.333rem);
  --body-font-size: 1rem;
  --caption-font-size: 0.833rem;
  --tiny-font-size: 0.694rem;
  /* --caption-font-size: clamp(0.75rem, 10vw, 0.833rem);
  --tiny-font-size: clamp(0.563rem, 10vw, 0.694rem); */

  /* padding */
  --padding-nav : clamp(1.5em, 4vw, 2.5em);
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-tiny{
    font-size: var(--tiny-font-size);
  }

  .text-caption{
    font-size: var(--caption-font-size);
  }

  .text-body{
    font-size: var(--body-font-size);
  }

  .text-h6{
    font-size: var(--h6-font-size);
  }

  .text-h5{
    font-size: var(--h5-font-size);
  }

  .text-h4{
    font-size: var(--h4-font-size);
  }

  .text-h3{
    font-size: var(--h3-font-size);
  }

  .text-h2{
    font-size: var(--h2-font-size);
  }
  
  .text-h1{
    font-size: var(--h1-font-size);
  }

  /* background colors */
  .bg-primary-regular{
    background-color: var(--primary-color-regular);
  }

  .bg-primary-dark{
    background-color: var(--primary-color-dark);
  }

  .bg-primary-light{
    background-color: var(--primary-color-light);
  }

  .bg-secondary-regular{
    background-color: var(--secondary-color-regular);
  }

  .bg-secondary-dark{
    background-color: var(--secondary-color-dark);
  }

  .bg-secondary-light{
    background-color: var(--secondary-color-light);
  }

  .bg-tertiary-regular{
    background-color: var(--tertiary-color-regular);
  }

  .bg-tertiary-dark{
    background-color: var(--tertiary-color-dark);
  }

  .bg-tertiary-light{
    background-color: var(--tertiary-color-light);
  }

  .bg-white-color{
    background-color: var(--white-color);
  }

  .bg-black-color{
    background-color: var(--black-color);
  }

  /* border colors */

  .border-primary-regular{
    border-color: var(--primary-color-regular);
  }

  .border-primary-dark{
    border-color: var(--primary-color-dark);
  }

  .border-primary-light{
    border-color: var(--primary-color-light);
  }

  .border-secondary-regular{
    border-color: var(--secondary-color-regular);
  }

  .border-secondary-dark{
    border-color: var(--secondary-color-dark);
  }

  .border-secondary-light{
    border-color: var(--secondary-color-light);
  }

  .border-tertiary-regular{
    border-color: var(--tertiary-color-regular);
  }

  .border-tertiary-dark{
    border-color: var(--tertiary-color-dark);
  }

  .border-tertiary-light{
    border-color: var(--tertiary-color-light);
  }

  .border-white-color{
    border-color: var(--white-color);
  }

  .border-black-color{
    border-color: var(--black-color);
  }

  /* text colors */

  .text-primary-regular{
    color: var(--primary-color-regular);
  }

  .text-primary-dark{
    color: var(--primary-color-dark);
  }

  .text-primary-light{  
    color: var(--primary-color-light);
  }

  .text-secondary-regular{
    color: var(--secondary-color-regular);
  }

  .text-secondary-dark{
    color: var(--secondary-color-dark);
  }

  .text-secondary-light{
    color: var(--secondary-color-light);
  }

  .text-tertiary-regular{
    color: var(--tertiary-color-regular);
  }

  .text-tertiary-dark{
    color: var(--tertiary-color-dark);
  }

  .text-tertiary-light{
    color: var(--tertiary-color-light);
  }

  .text-white-color{
    color: var(--white-color);
  }

  .text-black-color{
    color: var(--black-color);
  }

  /* fill colors */
  .fill-primary-regular{
    fill: var(--primary-color-regular);
  }
  
  .fill-primary-dark{
    fill: var(--primary-color-dark);
  }
  
  .fill-primary-light{
    fill: var(--primary-color-light);
  }
  
  .fill-secondary-regular{
    fill: var(--secondary-color-regular);
  }
  
  .fill-secondary-dark{
    fill: var(--secondary-color-dark);
  }
  
  .fill-secondary-light{
    fill: var(--secondary-color-light);
  }
  
  .fill-tertiary-regular{
    fill: var(--tertiary-color-regular);
  }
  
  .fill-tertiary-dark{
    fill: var(--tertiary-color-dark);
  }
  
  .fill-tertiary-light{
    fill: var(--tertiary-color-light);
  }
  
  .fill-white-color{
    fill: var(--white-color);
  }
  
  .fill-black-color{
    fill: var(--black-color);
  }

  /* outline colors */

  .outline-primary-regular{
    outline-color: var(--primary-color-regular);
  }

  .outline-primary-dark{
    outline-color: var(--primary-color-dark);
  }

  .outline-primary-light{
    outline-color: var(--primary-color-light);
  }

  .outline-secondary-regular{
    outline-color: var(--secondary-color-regular);
  }

  .outline-secondary-dark{
    outline-color: var(--secondary-color-dark);
  }

  .outline-secondary-light{
    outline-color: var(--secondary-color-light);
  }

  .outline-tertiary-regular{
    outline-color: var(--tertiary-color-regular);
  }

  .outline-tertiary-dark{
    outline-color: var(--tertiary-color-dark);
  }

  .outline-tertiary-light{
    outline-color: var(--tertiary-color-light);
  }

  .outline-white-color{
    outline-color: var(--white-color);
  }

  .outline-black-color{
    outline-color: var(--black-color);
  }

  /* transform origin */

  .origin-anchor-top{
    transform-origin: center 16%;
  }

  .origin-anchor-bottom{
    transform-origin: center 84%;
  }


  /* padding & margin */
  .p-nav{
    padding: var(--padding-nav);
  }

  .px-nav{
    padding-left: var(--padding-nav);
    padding-right: var(--padding-nav);
  }

  .pl-nav{
    padding-left: var(--padding-nav);
  }

  .pr-nav{
    padding-right: var(--padding-nav);
  }

  .mt-nav{
    margin-top: var(--padding-nav);
  }

  .ml-nav{
    margin-left: var(--padding-nav);
  }
  

  /* easing */

  .ease-in-out-custom{
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  }

  /* stroke */
  .text-stroke-black{
    -webkit-text-stroke: 3px var(--black-color);
  }

  .h-svh-screen{
    height: 100svh;
  }

  .masked-hero{
    --mh-x: 50%;
    --mh-y:50%;
    --mh-size: 4px;
    --mh-size-fade-start : 4px;
    --mh-size-fade-end : 4px;
    --mask: radial-gradient(circle at var(--mh-x) var(--mh-y), rgba(0,0,0,1) 0%, rgba(0,0,0,1) var(--mh-size, 150px), rgba(0,0,0,0.1) var(--mh-size-fade-start), rgba(0,0,0,0) var(--mh-size-fade-end), rgba(0,0,0,0) 100%);
    background: #00000050, url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    box-shadow : 'inset 0px 0px 10px 100px black';
    -webkit-mask-image: var(--mask);
	  mask-image: var(--mask);
    /* box-shadow : 'inset 0px 0px 10px 100px black'; */
    /* background : radial-gradient(circle at 50% 50%, black 0%, black 29%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 58%, rgba(0, 0, 0, 1) 65%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  }

  .masked-hero-grainy-circle{
    --x: 50%;
    --y: 50%;
    --size: 50%;
    width: 400px;
    height: 400px;
    top:-200px;
    left:-200px;
    transform: translate(525px, 352px);
    background : radial-gradient(circle at 50% 50%, black 0%, black 29%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 58%, rgba(0, 0, 0, .5) 65%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    /* box-shadow : 'inset 0px 0px 10px 100px black'; */
    mix-blend-mode:luminosity;
    opacity: 0.5;
  }


  .-animate-delay-500{
    animation-delay: -0.5s;
  }
  .-animate-delay-1000{
    animation-delay: -1s;
  }

  .animate-duration-4000{
    animation-duration: 4s;
  }

  .animate-duration-3000{
    animation-duration: 3s;
  }

  .animate-duration-2000{
    animation-duration: 2s;
  }

  @keyframes hover {
    0%, 100% {
      transform: translateX(-50%) translateY(-50%) translateZ(1px);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) translateZ(25px);
    }
  }
  .animate-hover {
    animation: hover 5s ease-in-out infinite;
  }

  @keyframes shadow {
    0%, 100% {
      filter: blur(0px);
      -webkit-filter: blur(0px);
      transform : translateX(-50%)  translateY(-50%) scale(1);
      opacity: 0.6;
    }
    50% {
        filter: blur(150px);
        transform : translateX(-50%) translateY(-50%) scale(0.9);
        -webkit-filter: blur(15px);
        opacity: 0.3;
    }
  }
  .animate-shadow {
    animation: shadow 5s ease-in-out infinite;
  }

  @keyframes left-to-right {
    0% {
        transform: translateZ(0) translateX(0%);
    }
    50% {
        transform: translateZ(0) translateX(10%);
    }
    100% {
        transform: translateZ(0) translateX(0%);
    }
  }
  .animate-left-to-right {
    animation-name: left-to-right;
    animation-timing-function: cubic-bezier(0.26, 0, 0.74, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes squish-squash {
    from {
        transform: translateZ(0) scaleY(100%);
    }
    to {
        transform: translateZ(0) scaleY(90%);
    }
  }
  .animate-squish-squash {
    animation-name: squish-squash;
    animation-timing-function: cubic-bezier(0.26, 0, 0.74, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes rotate {
    from {
        transform : rotate(0deg);
    }
    to {
        transform : rotate(360deg);
    }
  }
  .animate-rotate {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  /* section */
  .py-section{
    padding-top: calc(var(--padding-nav)*5);
    padding-bottom: calc(var(--padding-nav)*5);

    @media (max-width: 768px) {
      padding-top: calc(var(--padding-nav)*3);
      padding-bottom: calc(var(--padding-nav)*3);
    }
  }

  .pt-section{
    padding-top: calc(var(--padding-nav)*5);

    @media (max-width: 768px) {
      padding-top: calc(var(--padding-nav)*3);
    }
  }

  .pb-section{
    padding-bottom: calc(var(--padding-nav)*5);

    @media (max-width: 768px) {
      padding-bottom: calc(var(--padding-nav)*3);
    }
  }
}
